:root {
    --fx-font-family: "Spaceboy";
    --fx-cyan-color: rgb(51, 210, 206);
}

body {
    background-color: black;
}

fx-text {
    --fx-text-fill: var(--fx-cyan-color);
    font-family: var(--fx-font-family);
    font-size  : 1.8em;
}

fx-button fx-text {
    font-size          : 1.5em;
}

fx-button {
    --fx-button-background-color: transparent;
    --fx-button-border-color: var(--fx-cyan-color);
    --fx-button-border-width: 0.08333333em;
    --fx-button-border-radius: 1em;
}